<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>ALMA_BORROWING_REQUEST_SENDER</Name>
  <Author>Bill Jones, SUNY Geneseo; Tim Jackson, SUNY SLSS; and Angela Persico, University at Albany</Author>
  <Version>1.24</Version>
  <Active>False</Active>
  <Type>Server</Type>
  <Description>This Server addon allows ILLiad to send an Interlibrary Loan Borrowing request to Alma via the Alma Users API.</Description>
  <Forms />
  <Permissions />
  <Settings>
    <Setting name="AddonWorkerName" value="HoldOnly" type="string">
      <Description>This is the name you give the Addon for the rerun checker. If you are using more than one Addon, give each Addon a different name.</Description>
    </Setting>
    <Setting name="Alma_Base_URL" value="https://api-na.hosted.exlibrisgroup.com/almaws/v1" type="string">
      <Description>This setting value is the base URL for Alma API. It is your Alma API server,i.e., https://api-na.hosted.exlibrisgroup.com/almaws/v1.</Description>
    </Setting>
	<Setting name="Alma_Institution_Code" value="" type="string">
      <Description>This is your institutional Alma Code.  Example:  01SUNY_GEN</Description>
    </Setting>
	<Setting name="Full_Alma_URL" value="" type="string">
      <Description>This is your Full Alma URL. Example: https://suny-gen.alma.exlibrisgroup.com</Description>
    </Setting>
    <Setting name="Alma_Users_API_Key" value="" type="string">
      <Description>Input your Alma Users API Key (Read and Write access needed).</Description>
    </Setting>	
	<Setting name="Alma_Bibs_API_Key" value="" type="string">
      <Description>Input your Alma Bibs API Key (Read access needed).</Description>
    </Setting>
    <Setting name="SRU_Lookup_Username" value="" type="string">
      <Description>This is the username for your SRU Lookup.  Leave blank if you do not use a username and password.</Description>
    </Setting>
	<Setting name="SRU_Lookup_Password" value="" type="string">
      <Description>This is the password for your SRU Lookup.  Leave blank if you do not use a username and password.</Description>
    </Setting>
	<Setting name="EnableSendingBorrowingRequests" value="true" type="boolean">
      <Description>This setting determines if you want to enable sending Borrowing Requests to Alma.</Description>
    </Setting>	
	<Setting name="EnableSendingHoldRequests" value="true" type="boolean">
      <Description>This setting determines if you want to enable sending Hold Requests to Alma.</Description>
    </Setting>
    <Setting name="PreferElectronicOverPrintForHoldRequests" value="true" type="boolean">
      <Description>This setting determines if you want to use electronic items for Hold request fulfillment before using physical print items.</Description>
    </Setting>
    <Setting name="ItemSearchQueue" value="ALMA_RS_TEST" type="string">
      <Description>The queue the Addon will monitor to process new Borrowing requests.</Description>
    </Setting>
    <Setting name="ItemSuccessQueue" value="ALMA_RS_SUCCESS" type="string">
      <Description>The queue a Transaction will be moved to if the Borrowing Request is submitted to Alma successfully.</Description>
    </Setting>
    <Setting name="ItemFailQueue" value="ALMA_RS_FAILURE" type="string">
      <Description>The queue a Transaction will be moved to if the Borrowing Request Alma API call fails.</Description>
    </Setting>
    <Setting name="ItemSuccessHoldRequestQueue" value="ALMA_HOLD_SUCCESS" type="string">
      <Description>The queue a Transaction will be moved to if the Hold Request Alma API call fails.</Description>
    </Setting>
    <Setting name="ItemFailHoldRequestQueue" value="ALMA_HOLD_FAILURE" type="string">
      <Description>The queue a Transaction will be moved to if the Hold Request Alma API call fails.</Description>
    </Setting>
    <Setting name="ElectronicItemSuccessQueue" value="ALMA_ELECTRONIC_ITEM_FOUND_SUCCESS" type="string">
      <Description>The queue a Transaction will be moved to if a local electronic item is found for the matching ISBN or OCLC Number.</Description>
    </Setting>	
    <Setting name="ElectronicItemReviewQueue" value="Electronic Item Missing URL" type="string">
      <Description>The queue a Transaction will be moved to if a local electronic item is found for the matching ISBN or OCLC Number.</Description>
    </Setting>		
    <Setting name="NoISBNandNoOCLCNumberReviewQueue" value="Awaiting ISBN Lookup" type="string">
      <Description>The queue a Transaction will be moved to if the Hold Request Alma API call fails.</Description>
    </Setting>	
    <Setting name="ItemInExcludedLocationNeedsReviewQueue" value="NEEDS_REVIEW_ITEM_IN_EXCLUDED_LOCATION" type="string">
      <Description>The queue a Transaction will be moved to if the Borrowing Request Alma API call fails.</Description>
    </Setting>
	<Setting name="ILLiadFieldforElectronicItemURL" value="Location" type="string">
      <Description>The name of the Transaction field you would like to use to store the URL for the found owned Electronic item (if URL is available)</Description>
    </Setting>
	<Setting name="FieldtoUseForUserNameFromUsersTable" value="UserName" type="string">
      <Description>When set to true, the username will be the SSN field from the Users table instead of the Username field from the Transactions table.</Description>
    </Setting>
  </Settings>
  <Files>
    <File>ALMA_BORROWING_REQUEST_SENDER.lua</File>
  </Files>
</Configuration>
