<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>ALMA_BORROWING_REQUEST_SENDER</Name>
  <Author>Bill Jones, SUNY Geneseo; Tim Jackson, SUNY SLSS; and Angela Persico, University at Albany</Author>
  <Version>1.26</Version>
  <Active>False</Active>
  <Type>Server</Type>
  <Description>This Server addon allows ILLiad to send an Interlibrary Loan Borrowing request to Alma via the Alma Users API.</Description>
  <Forms />
  <Permissions />
  <Settings>
    <Setting name="AddonWorkerName" value="HoldAndBorrowing" type="string">
      <Description>This is the name you give the Addon for the rerun checker. If you are using more than one Addon, give each Addon a different name.</Description>
    </Setting>
    <Setting name="AlmaBaseURL" value="https://api-na.hosted.exlibrisgroup.com/almaws/v1" type="string">
      <Description>This setting value is the base URL for Alma API. It is your Alma API server,i.e., https://api-na.hosted.exlibrisgroup.com/almaws/v1.</Description>
    </Setting>
	<Setting name="AlmaInstitutionCode" value="" type="string">
      <Description>This is your institutional Alma Code.  Example:  01SUNY_GEN</Description>
    </Setting>
	<Setting name="FullAlmaURL" value="" type="string">
      <Description>This is your Full Alma URL. Example: https://suny-gen.alma.exlibrisgroup.com</Description>
    </Setting>
    <Setting name="AlmaUsersAPIKey" value="" type="string">
      <Description>Input your Alma Users API Key (Read and Write access needed).</Description>
    </Setting>	
    <Setting name="AlmaBibsAPIKey" value="" type="string">
      <Description>Input your Alma Bibs API Key (Read access needed).</Description>
    </Setting>	
	<Setting name="SRULookupUsername" value="" type="string">
      <Description>This is the username for your SRU Lookup.  Leave blank if you do not use a username and password.</Description>
    </Setting>
	<Setting name="SRULookupPassword" value="" type="string">
      <Description>This is the password for your SRU Lookup.  Leave blank if you do not use a username and password.</Description>
    </Setting>
	<Setting name="EnableSendingBorrowingRequests" value="true" type="boolean">
      <Description>This setting determines if you want to enable sending Borrowing Requests to Alma.</Description>
    </Setting>	
	<Setting name="EnableSendingHoldRequests" value="true" type="boolean">
      <Description>This setting determines if you want to enable sending Hold Requests to Alma.</Description>
    </Setting>
    <Setting name="PreferElectronicOverPrintForHoldRequests" value="true" type="boolean">
      <Description>This setting determines if you want to use electronic items for Hold request fulfillment before using physical print items.</Description>
    </Setting>		
    <Setting name="ItemSearchQueue" value="Alma RS Test" type="string">
      <Description>The queue the Addon will monitor to process new Borrowing requests.</Description>
    </Setting>
    <Setting name="ItemSuccessQueue" value="Alma RS Success" type="string">
      <Description>The queue a Transaction will be moved to if the Borrowing Request is submitted to Alma successfully.</Description>
    </Setting>
    <Setting name="ItemFailQueue" value="Alma RS Failure" type="string">
      <Description>The queue a Transaction will be moved to if the Borrowing Request Alma API call fails.</Description>
    </Setting>
    <Setting name="ItemInExcludedLocationNeedsReviewQueue" value="Needs Review Item in Excluded Location" type="string">
      <Description>The queue a Transaction will be moved to for review if the requested item is in and Excluded Location as listed in the excludedlocations.txt file.</Description>
    </Setting>
    <Setting name="ItemSuccessHoldRequestQueue" value="Alma Hold Success" type="string">
      <Description>The queue a Transaction will be moved to if the Hold Request is submitted to Alma successfully.</Description>
    </Setting>
    <Setting name="ItemFailHoldRequestQueue" value="Alma Hold Failure" type="string">
      <Description>The queue a Transaction will be moved to if the Hold Request Alma API call fails.</Description>
    </Setting>
    <Setting name="NoISBNandNoOCLCNumberReviewQueue" value="Awaiting ISBN Lookup" type="string">
      <Description>The queue a Transaction will be moved to moved to for review if the transaction is lacking both and ISBN and an OCLC Number.</Description>
    </Setting>
    <Setting name="ElectronicItemSuccessQueue" value="Alma Electronic Item Found Success" type="string">
      <Description>The queue a Transaction will be moved to if a local electronic item is found for the matching ISBN or OCLC Number.</Description>
    </Setting>			
	<Setting name="ILLiadFieldforElectronicItemURL" value="Location" type="string">
      <Description>The name of the Transaction field you would like to use to store the URL for the found owned Electronic item (if URL is available)</Description>
    </Setting>	
	<Setting name="FieldtoUseForUserNameFromUsersTable" value="UserName" type="string">
      <Description>The name of the field in the ILLiad Users Table you want to use for the username to send to Alma during an API call.</Description>
    </Setting>
    <Setting name="ILLiadFieldToStorePIDs" value="ItemInfo3" type="string">
      <Description>The name of the ILLiad field that will be used to store multiple PIDs (Item IDs) to place item level holds in Alma.</Description>
    </Setting>
    <Setting name="MultiVolumeRewiewQueue" value="MultiVolume Review" type="string">
      <Description>This is the name of the ILLiad queue used to route transactions that are multivolume and need review.</Description>
    </Setting>	
    <Setting name="PrimoPermalinkPrefix" value="" type="string">
      <Description>This is the Primo permalink prefix. To get the permalink prefix, please open an eBook, click the Permalink button, and then copy the permalink, including the word 'alma' at the end of the permalink URL. Please do not include the individual MMSID for this configuration value (example: https://glocat.geneseo.edu/permalink/01SUNY_GEN/1q0kkbr/alma).</Description>
    </Setting>	
	<Setting name="UltimateDebug" value="false" type="boolean">
      <Description>This setting determines if you want detailed notes containing the Alma API URL and XML message for placing a hold request in the ILLiad transaction notes.</Description>
    </Setting>
  </Settings>
  <Files>
    <File>ALMA_BORROWING_REQUEST_SENDER.lua</File>
  </Files>
</Configuration>
